.pt-nav-bar-toggle {
    position: relative;
    height: 50px;
    width: 50px;
    flex: 0 0 auto;
}

.pt-nav-bar-toggle__hamburger, .pt-nav-bar-toggle__cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pt-nav-bar-toggle__cross .pt-nav-bar-toggle__bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #FFFFFF;
    transform: translateY(-4px) rotate(0deg);
    transition: transform ease 200ms;
}

.pt-nav-bar-toggle__cross .pt-nav-bar-toggle__bar:nth-child(2) {
    transform: translateY(6px) rotate(0deg);
}

.pt-nav-bar-toggle__cross .pt-nav-bar-toggle__bar:last-child {
    transform: translateY(-2px) scaleX(1);
}

.pt-nav-bar-toggle.-pt-active .pt-nav-bar-toggle__cross .pt-nav-bar-toggle__bar {
    transform: translateY(50%) rotate(45deg);
}

.pt-nav-bar-toggle.-pt-active .pt-nav-bar-toggle__cross .pt-nav-bar-toggle__bar:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.pt-nav-bar-toggle.-pt-active .pt-nav-bar-toggle__cross .pt-nav-bar-toggle__bar:last-child {
    transform: translateY(-3px) scaleX(0);
}
